.map {
  position: relative;
}
.yandex_map {
  height: 700px;
}
.bid {
  position: absolute;
  left: 10%;
  top: 10%;
  z-index: 2;
  padding: 46px 43px 50px;
  max-width: 448px;
  width: 100%;
  margin: 0 auto;
  background: #fff;
  &::before {
    content: "";
    position: absolute;
    inset: 8px;
    border: 1px solid #e2e1e1;
  }
  &_header {
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: #333;
    margin-bottom: 20px;
    display: block;
  }
  &_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 362px;
    width: 100%;
    margin-bottom: 23px;
    input {
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      color: rgba(36, 36, 46, 0.7);
      width: 100%;
      height: 53px;
      border: 1px solid #f6f6f8;
      border-radius: 2px;
      box-shadow: inset 0 4px 4px 0 #eaeaef;
      background: #f6f6f8;
      padding-left: 17px;
      outline: none;
      transition: border-color 0.3s linear;
      &:hover {
        border-color: #2cb667;
      }
      &:active {
        border-color: #2cb667;
      }
      &:focus {
        border-color: #2cb667;
      }
    }
    button {
      border-radius: 50px;
      font-weight: 700;
      font-size: 14px;
      line-height: 129%;
      text-transform: uppercase;
      color: #fff;
      background: linear-gradient(180deg, #2cb667 0%, #23943b 100%);
      border: 1px solid #2cb667;
      outline: none;
      padding: 15px 42px;
    }
  }
  &_desc {
    font-weight: 400;
    font-size: 11px;
    line-height: 129%;
    text-align: center;
    color: #333;
  }
}

@media all and (width < 1140px) {
  .bid {
    position: relative;
    top: 0;
    left: 0;
    box-shadow: 0 4px 15px 0 rgba(190, 190, 190, 0.2);
    background: #fcfcfc;
    margin-bottom: 80px;
    &_header {
      text-align: center;
    }
    &_form {
      button {
        width: 100%;
      }
    }
  }
}
@media all and (width < 500px) {
  .yandex_map {
    height: 295px;
  }
  .bid {
    padding: 33px 15px 19px;
    margin-bottom: 80px;
    &_header {
      font-size: 18px;
    }
    &_form {
      max-width: 100%;
      align-items: center;
      button {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
      }
    }
  }
}
