.hotter {
    background-color: $light-black;
    font-family: 'Gilroy', serif;
    border-bottom: 1px solid  rgba(255, 255, 255, 0.3);
}

.hotter__block {
    padding-top: 39px;
    padding-bottom: 46px;
}