@media (max-width: 1290px) {

    .header__link-logo {
        margin-right: 2%;
    }

    .header__tel-wrapper {
        width: 36%;
    }

    .contacts__list-top {
        display: none;
    }

    .contacts__contacts {
        width: 72%;
    }
}