@import "../../app/page.module.scss";
.header {
  height: 110px;
  margin-bottom: 50px;
  -webkit-box-shadow: 0 10px 35px 0 #a627d5;
  box-shadow: 0 10px 35px 0 #a627d5;
  background: #0f0f0f;
  &_container {
    padding: 0 50px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
  }
  &_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 75%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
  }
  &_logo {
    position: relative;
    outline: none;
    margin-right: 15px;
    @media (hover: hover) {
      &:hover::before {
        opacity: 1;
        -webkit-transform: scaleX(100%);
        -ms-transform: scaleX(100%);
        transform: scaleX(100%);
      }
    }
    &:focus-visible::before {
      opacity: 1;
      -webkit-transform: scaleX(100%);
      -ms-transform: scaleX(100%);
      transform: scaleX(100%);
    }

    &::before {
      content: "";
      @include hoverEffect();
    }
    img {
      width: 180px;
    }
  }
  &_media {
    display: none;
  }
  &_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 91px;
  }

  &_link {
    padding: 5px 10px;
    color: $white;
    -webkit-transition: color 0.3s linear;
    -o-transition: color 0.3s linear;
    transition: color 0.3s linear;
    position: relative;
    text-align: center;
    @include UnboundedRegular();
    @media (hover: hover) {
      &:hover {
        color: $purple;
      }
    }
    &:hover::before {
      opacity: 1;
      -webkit-transform: scaleX(100%);
      -ms-transform: scaleX(100%);
      transform: scaleX(100%);
    }
    &:focus-visible::before {
      opacity: 1;
      -webkit-transform: scaleX(100%);
      -ms-transform: scaleX(100%);
      transform: scaleX(100%);
    }
    &::before {
      content: "";
      @include hoverEffect();
    }
    &:active {
      color: $white;
    }
  }
  .phone_group {
    display: flex;
    justify-content: flex-end;
  }
  .phone {
    display: flex;
    align-items: center;
    color: $white;
    -webkit-transition: color 0.3s linear;
    -o-transition: color 0.3s linear;
    transition: color 0.3s linear;
    position: relative;
    text-align: center;
    @include UnboundedRegular();
    font-size: 16px;
    @media (hover: hover) {
      &:hover {
        color: $purple;
        .phone_img {
          fill: $purple;
        }
      }
    }
    &:hover::before {
      opacity: 1;
      -webkit-transform: scaleX(100%);
      -ms-transform: scaleX(100%);
      transform: scaleX(100%);
    }
    &:focus-visible::before {
      opacity: 1;
      -webkit-transform: scaleX(100%);
      -ms-transform: scaleX(100%);
      transform: scaleX(100%);
    }
    &::before {
      content: "";
      @include hoverEffect();
    }
    &:active {
      color: $white;
    }
  }
  .phone_img {
    margin-right: 10px;
    fill: $white;
    transition: fill 0.3s linear;
  }
}
@media (max-width: 1500px) {
  .header {
    &_container {
      padding: 0 75px;
    }
    &_list {
      gap: 10px;
    }
  }
}
@media (max-width: 1140px) {
  .header {
    &_list {
      gap: 0;
    }
  }
}

@media (max-width: 884px) {
  .header {
    height: 100px;
    &_container {
      padding: 0 60px;
    }
    &_nav {
      display: none;
    }
    &_logo {
      img:first-child {
        display: none;
      }
    }
    &_media {
      display: block;
    }
    .phone_group {
      justify-content: flex-start;
    }
  }
}
@media (max-width: 450px) {
  .header {
    &_container {
      padding: 0 20px;
    }
  }
}
